@{
    ViewData["Title"] = "St. Louis Restaurant Guide";
}



<div class="hero-section">
    <h1 class="display-4">Welcome to St. Louis Restaurant Guide!</h1>
</div>

<div class="jumbotron jumbotron-fluid"  style="position:relative; top: 400px;">
    <div class="container">
        <h2>Your Guide to Choosing Where to Eat Faster</h2>
        <p class="lead">St. Louis Restaurant Guide was built with you in mind. Our goal is to stop the indecisive "what's for dinner" conversations and to get you to experience the St. Louis food scene.</p>
        
        <small>Create your account, browse our restaurant list, read reviews, and add it to your visit list.</small>
    </div>
</div>
