@{
    ViewData["Title"] = "St. Louis Restaurant Guide";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    @*@<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>This website will allow you to add and find restaurants around the St.Louis area that you would like to visit.</p>
</div>
