@model IEnumerable<StLouisRestaurantGuide.Models.Restaurant>



@{
    ViewData["Title"] = "Index";
}

<h1>To Visit Restaurant List:</h1>

<div>

    <hr />

    @foreach (var restaurant in Model)

    {
        <h2>
            @restaurant.Name 
        </h2>
        <p>@restaurant.Description  </p>
    }


</div>
<div>

</div>
